.jumbotron
    .container
        h1 Ratings & Reviews as a Service
        h2 Add ratings and reviews to anything in your app— with one line.
        p
            | RAASTA is a set of high-performing APIs, allowing your team to quickly add User-Ratings+Reviews support (track and
            | display) to your applications.
            | Out-of-the box, RAASTA includes both high-level javascript client and low-level REST API access, so you can
            | choose how to integrate RAASTA into your app.
        h2
            | Free for early adopters (and Felipe's friends)
            small  First 3 Months— or until our servers collapse.

.container
    .row
        .col-md-4
            h2 Easy
            p
                | RAASTA's client-side Javascript library wraps everything you need to quickly add user-ratings+reviews to your
                | web-app.
                | Run these functions directly in your front-end code, without having to change anything in your
                | backend.

        .col-md-4
            h2 Flexible
            p
                | Do you need more control? Don't want to expose your tokens?
                | Call RAASTA directly from your backend stack, using standard REST APIs to access the complete
                | functionality of RAASTA.

        .col-md-4
            h2 Your info is safe
            p
                | You can choose to pass your system's internal ids however you want.
                | Use secret hashed ids, salted+encrypted ids, or your actual database ids:
                | You set the rules.

.container
    h1#demo.page-header
        a.anchorjs-link(href='#demo', aria-label='Anchor link for: demo', data-anchorjs-icon='', style='font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-position: normal; font-variant-caps: normal; font-variant-numeric: normal; font-variant-alternates: normal; font-variant-east-asian: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;')
        |         Demo: Bob's Furniture
    iframe(width='100%', height='300', src='//jsfiddle.net/baytelman/96yk7fk8/embedded/result,js,html/', allowfullscreen='allowfullscreen', frameborder='0')

